[% PROCESS header.tt title="STEDT Database: Database Updates" %]
<p>[% changes.size %] most recent changes:</p>

<table class="sortable resizable">
<tr>
	<th>username</th>
	<th>table</th>
	<th>field</th>
	<th>id</th>
	<th>old value</th>
	<th>new value</th>
	<th>time</th>
</tr>
[% FOREACH row IN changes -%]
<tr>
[% FOREACH col IN row -%]
<td>[% col | html %]</td>
[% END -%]
</tr>
[% END -%]
</table>

</body>
</html>
