[% PROCESS header.tt title="STEDT Database: Records with deviant glosses" %]

<table>
[% FOREACH k IN deviants.keys -%]
<tr><td>[% k %]</td><td>[% deviants.$k %]</td></tr>
[% END %]
</table>

</body>
</html>