[% PROCESS header.tt title="Query Log - STEDT Database" %]
<p>[% queries.size %] most recent queries:</p>

<table class="sortable resizable">
<tr>
	<th>table</th>
	<th>query</th>
	<th>ip</th>
	<th>time</th>
</tr>
[% FOREACH row IN queries -%]
<tr>
[% FOREACH col IN row -%]
<td>[% col %]</td>
[% END -%]
</tr>
[% END -%]
</table>

</body>
</html>
