[% PROCESS header.tt title="STEDT Database: Users" %]
[% self_url = c.query.url('-absolute',1) -%]
[% self_base = self_url.replace('[^/]+$' , '') -%]
<body>
<p>[% users.size %] users:</p>

<table>
<tr>
	<th>username</th>
	<th>uid</th>
	<th>email</th>
	<th>privs</th>
	<th>tagged forms</th>
</tr>
[% FOREACH row IN users -%]
<tr>
[% FOREACH col IN row -%]
<td>[% col %]</td>
[% END -%]
</tr>
[% END -%]
</table>

</body>
</html>