[% PROCESS header.tt title="STEDT Database (Beta)" suppress_header=1 -%]
<div id="admin" class="leftpane">
[% PROCESS admin_div.tt %]
</div>
<div>
<iframe name="centerstage" class="rightpane"></iframe>
centerstage
</div>
</body>
</html>


