[% FOREACH etyma -%]
<p>#[% tag %]: [% plg %] <b>[% pform %]</b> [% pgloss %]<p>
<p><a href="[% c.query.url('-absolute',1) %]/etymon/[% tag %]" target="stedt_etymon">Details for #[% tag %]</a></p>
[% END -%]
<span class="footnote right"><a href="#" id="hideinfo">hide</a></span>