[% FOREACH etyma -%]
<p>#[% tag %]: [% plg %] <b>[% pform %]</b> [% pgloss %]<p>
[% IF mesoroots.size -%]
<ul>
[% FOREACH mesoroots -%]
<li>[% plg %] <b>*[% form %]</b> [% gloss %]
[% END -%]
</ul>
[% END -%]
[% IF 0 %]<p><a href="[% c.query.url('-absolute',1) %]/etymon/[% tag %]" target="stedt_etymon">Details for #[% tag %]</a></p>[% END -%]
[% END -%]
[% IF 0 %]<span class="footnote right"><a href="#" id="hideinfo">hide</a></span>[% END %]