[% FOREACH etyma -%]
<p><a href="[% c.query.url('-absolute',1) %]/etymon/[% tag %]" target="stedt_etymon">#[% tag %]:</a> [% plg %] <b>[% pform %]</b> [% pgloss %]</p>
[% IF mesoroots.size -%]
<ul>
[% FOREACH mesoroots -%]
<li><a href="[% c.query.url('-absolute',1) %]/etymon/[% tag %]#[% grpno %]" target="stedt_etymon">[% plg %]</a> <b>*[% form %]</b> [% gloss %]
[% END -%]
</ul>
[% END -%]
[% END -%]
<span class="footnote right"><a href="#" id="hideinfo">hide</a></span>